
\[cycler\]\]\[180705_Ox_+-480mA_1.6-0.7VC_510cy__007\].xlsx
\[cycler\]\]\[180705_Ox_+-480mA_1.6-0.7VC_510cy__007\].xlsx
data/\[준영이줄거\]\[20220801_1.6V_2S_2.8HCl_20mA_N212_550cy_001\].xlsx
\[cycler\]\]\[180705_Ox_+-480mA_1.6-0.7VC_510cy__007\].xlsx
data/공인성적용_장사이클_510cy_006_DC_캡스톤.xlsx
data/\[준영이줄거\]\[20220811_1.6V_2S_2.8HCl_1.6-0.7V_N115_40mA_550cy_003\].xlsx
*.h5
*.v2
CNN-LSTM_SOH_Filter.ipynb
CNN-LSTM_SOH_MemCells.ipynb
CNN-LSTM_SOH_Epoch.ipynb
CNN-LSTM_SOH_Epoch.ipynb
*.xlsx
CNN-LSTM_SOH_Epoch.ipynb
